*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Urbanist", sans-serif;
}

a,
a:visited {
  color: #333333;
  text-decoration: none;
}

.main-container {
  padding-top: 10rem;
  max-width: 90rem;
  margin: 3rem auto 6rem auto;
  text-align: center;
  justify-content: center;
  width: 92%;
}

.section-title {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.flex {
  display: flex;
}

.section-sub {
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 20px;
}

.line {
}
